<ion-view hide-tab-bar>
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-clear icon ion-ios-arrow-back button-custom" ng-click="back()"></button>
    <h1 class="title">大家对张三的评价</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-body">
        <p>2016-06-30 19:23</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="button button-small button-positive button-more-padding">1 赞同</a>
          <a href="#" class="button button-small button-more-padding">5 反对</a>
        </p>
      </ion-item>

      <ion-item class="item-body">
        <p>2016-06-30 19:23</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </ion-item>
    </ion-list>
    <h3>联系人的评论</h3>
  </ion-content>
</ion-view>
