<ion-view>
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-clear icon ion-ios-arrow-back button-custom" ng-click="back()"></button>
    <h1 class="title">锤子科技</h1>
    <button class="button button-clear button-custom" ng-click="">查看关注者</button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="company-info-container">
      <div class="company-card text-center">
        <div class="header">
          <button class="button button-clear" ng-click="openQRCodeModal()"><i class="icon ion-ios-eye" aria-hidden="true"></i>&nbsp;企业二维码</button>
        </div>
        <div class="body text-center">

          <div class="company-avatar">
            <img src="img/t.jpg" width="180px" alt="锤子科技"/>
          </div>
          <h3>锤子科技</h3>
          <p class=""><i class="energized icon ion-star" style="font-size: 18px;">&nbsp;</i><strong>8.0</strong></p>
          <p>一家制造移动互联网终端设备的公司</p>
        </div>
        <div class="footer">
          <button class="button button-small button-assertive">
            <i class="icon ion-heart"></i>&nbsp;关注
            <span class="count">
              1.3K
            </span>
          </button>
          <button class="button button-small button-more-padding">
            <i class="icon ion-ios-list-outline">&nbsp;</i>
            公司所有评价
          </button>
          <button class="button button-small button-more-padding">
            我来评价
          </button>
        </div>
      </div>
    </div>

    <ion-list>
      <br/><br/>
      <h3>公司logo，关注人数</h3>
      <h3>公司工商信息</h3>
      <h3>公司的联系信息</h3>
    </ion-list>

    <p class="text-right">
      <button class="button button-small button-clear button-royal button-more-padding margin-right-5" ng-click="">
        <i class="icon ion-image">&nbsp;编辑LOGO</i>
      </button>
      <button class="button button-small button-clear button-more-padding" ng-click="">
        <i class="icon ion-compose">&nbsp;编辑信息</i>
      </button>
    </p>
  </ion-content>
</ion-view>
