<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="档案">
  <ion-content class="main">
    <div class="card">
      <div class="item item-divider">工作经历</div>
      <div class="item item-body">
        <div class="work" ng-click="openLink()">
          <h3>研发工程师</h3>
          <div class="logo">
            <img src="img/t.jpg">
          </div>

          <div class="corporation">
            <p class="position">翼拍网络</p>
            <p class="period">2015年八月 - 现在</p>
          </div>

          <div class="desc">
            <p>美国智库东西方研究所的网络政策专家格雷格·奥斯汀说，习主席的讲话极其重要，其中最重要的一点是，在网络安全方面没有哪个国家能独善其身。</p>
          </div>
        </div>

        <div class="work last">
          <h3>研发工程师</h3>
          <div class="logo">
            <img src="img/one+.png">
          </div>

          <div class="corporation">
            <p class="position">翼拍网络</p>
            <p class="period">2015年八月 - 现在</p>
          </div>

          <div class="desc">
            <p>美国智库东西方研究所的网络政策专家格雷格·奥斯汀说，习主席的讲话极其重要，其中最重要的一点是，在网络安全方面没有哪个国家能独善其身。</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
