<ion-view hide-tab-bar>
  <ion-header-bar class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="输入用户名、企业名进行查找">
    </label>
    <button class="button button-clear">
      取消
    </button>
  </ion-header-bar>

  <ion-content class="padding">

  </ion-content>

    <!--<ion-header-bar class="bar-dark">-->
        <!--<button class="button button-clear icon ion-ios-arrow-back button-custom" ng-click="closeAddCommentModal()"></button>-->
        <!--<h1 class="title">查找用户、企业</h1>-->
    <!--</ion-header-bar>-->
    <!--<ion-content class="padding">-->
        <!--<h3>搜索界面</h3>-->
    <!--</ion-content>-->
</ion-view>
