<ion-view view-title="档案" hide-tab-bar>
    <ion-header-bar align-title="center" class="bar-dark">
        <button class="button button-clear icon ion-ios-arrow-back button-custom" ng-click="back2Parent()"></button>
        <h1 class="title">个人档案</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list padding" ng-show="works">
            <div class="item item-divider">工作经历</div>
            <div class="item item-body">
                <div class="work" ng-click="openLink()" ng-repeat="workItem in works">
                    <h3 class="clickable-text" ng-show="workItem.company" ui-sref="tab.companyInfo"><i class="icon ion-link">&nbsp;</i>{{workItem.company}}&nbsp;&nbsp;<i class="icon ion-star energized font16"></i> <span class="dark font14">6.0</span></h3>
                    <div class="logo">
                        <img ng-src="{{workItem.logo}}">
                    </div>
                    <div class="corporation">
                        <p class="position">{{workItem.title}}</p>
                        <p class="period">{{workItem.startDate}} - {{workItem.endDate}}</p>
                    </div>

                    <div class="desc">
                        <p>{{workItem.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
