<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-clear button-custom" ng-click="scanQRCode()">扫一扫</button>
    <h1 class="title">联系人</h1>
    <button class="button button-clear button-custom" ui-sref="tab.search">查找</button>
  </ion-header-bar>

  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="搜索我的联系人" id="filter_name" ng-model="filterName">
      </label>
    </div>
    <div class="list padding">
      <div class="item item-divider">
        A
      </div>
      <ion-list detect-events="">
        <ion-item class="item-avatar" id="chat_item_{{chat.id}}"
                  ng-repeat="chat in chats | matchUsernameFilter:filterName" type="item-text-wrap"
                  ng-click="goToDetail({{chat.id}}, $event)">
          <img class="list-menu-item-icon" ng-src="{{chat.face}}">
          <h2><strong>{{chat.name}}</strong></h2>
          <p class="contact-simple-desc">
            <span ng-show="chat.job">{{chat.job}}</span>
            <span ng-show="chat.company">({{chat.company}})</span>
          </p>
        </ion-item>
      </ion-list>
      <div class="item item-divider">
        B
      </div>
      <ion-list>
        <ion-item class="item-icon-left" id="chat_item_{{chat.id}}"
                  ng-repeat="chat in chats" type="item-text-wrap" on-tap="goToDetail({{chat.id}})">
          <i class="icon icon-right">
            <img class="list-menu-item-icon" ng-src="{{chat.face}}">
          </i>
          {{chat.name}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
