<ion-view hide-tab-bar="">
    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button button-clear icon ion-ios-arrow-back button-custom" ng-click="back()"></button>
        <h1 class="title">关注的企业</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <a class="item item-thumbnail-left" ui-sref="tab.companyInfo">
                <img ng-src="img/t.jpg" alt="t.tt" />
                <h2>锤子科技&nbsp;<i class="icon ion-star energized"></i><span class="dark">8.0</span> </h2>
                <p>一家制造移动互联网终端设备的公司</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>