<ion-view view-title="主屏">
  <ion-content class="main">
    <div class="card my-card">
      <div class="item item-divider">
        <a class="item item-avatar" href="#">
          <img src="img/ben.png">
          <h2>尼古拉斯.赵四</h2>
          <p>加个备注是不是会显得我很有棱角</p>
        </a>
      </div>
      <div class="row">
        <div class="col text-center">
          <button ng-click="scanQrode()" class="button button-outline button-circle button-positive">扫码</button>
        </div>
      </div>
      <div id="my-qrcode" class="qrcode-container"></div>
    </div>
  </ion-content>
</ion-view>
