<ion-view view-title="人际">
  <ion-content class="main">
    <div class="card">
      <div class="item item-divider">
        A
      </div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" id="chat_item_{{chat.id}}" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/contact/{{chat.id}}">
          <img ng-src="{{chat.face}}">
          <h2>{{chat.name}}</h2>
          <p>{{chat.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
