<ion-view view-title="我的">
    <ion-content class="main">
        <div class="card">
            <ion-list>
                <ion-item class="setting-item" ng-click="showActionsheet()">
                    <h3 class="action-name">头像</h3>

                    <div class="content"><img src="img/adam.jpg" height="40" ng-click="openAvatarModal($event)"></div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="setting-item" ng-click="openSelfIntroModal()">
                    <h3 class="action-name">自我介绍</h3>

                    <div class="content"><p class="text">加个备注...</p></div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </ion-list>
        </div>

        <div class="card">
            <ion-list>
                <ion-item class="setting-item" ng-click="openContactInfoModal()">
                    <h3 class="action-name">联系方式</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="setting-item" ng-click="openSelfDocModal()">
                    <h3 class="action-name">我的档案</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="setting-item">
                    <h3 class="action-name">打印名片</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </ion-list>
        </div>

        <div class="card">
            <ion-list>
                <ion-item class="setting-item">
                    <h3 class="action-name">账户安全</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="setting-item">
                    <h3 class="action-name">关于开发者</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="setting-item">
                    <h3 class="action-name">检查新版本</h3>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </ion-list>
        </div>

        <div class="button-group">
            <a class="button button-block button-assertive" ng-click="logOut()">
                退出
            </a>
        </div>
    </ion-content>
</ion-view>
