<ion-view view-title="我">
  <ion-content class="main">
    <div class="card">
      <ion-list>
        <ion-item class="setting-item" href="#/tab/avatar">
          <h3 class="action-name">头像</h3>

          <div class="content"><img src="img/adam.jpg" height="40"></div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="setting-item">
          <h3 class="action-name">个性签名</h3>

          <div class="content"><p class="text">加个备注...</p></div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>

    <div class="card">
      <ion-list>
        <ion-item class="setting-item">
          <h3 class="action-name">联系方式</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="setting-item">
          <h3 class="action-name">个人档案</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="setting-item">
          <h3 class="action-name">打印名片</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>

    <div class="card">
      <ion-list>
        <ion-item class="setting-item">
          <h3 class="action-name">账户安全</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="setting-item">
          <h3 class="action-name">关于开发者</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="setting-item">
          <h3 class="action-name">检查新版本</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>

    <div class="button-group">
      <a class="button button-block button-assertive" href="#">
        退出
      </a>
    </div>

    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
    <!--Enable Friends-->
    <!--</ion-toggle>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
