<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!--<ion-tab title="通话记录" icon="ion-ios-clock" href="#/tab/callHistory">-->
    <!--<ion-nav-view name="call-history"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!-- Chats Tab -->
  <ion-tab title="联系人" icon="ion-ios-people" href="#/tab/contact">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

   <!--Dashboard Tab-->
  <ion-tab title="提醒" icon="ion-ios-bell" href="#/tab/home">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我" icon="ion-ios-person" href="#/tab/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
